<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dazzling Coffee Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dobrodošli u Dazzling Coffee Shop!</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.daily_offer') }}">Ponuda dana</a></li>
            <li><a href="{{ url_for('main.about') }}">O nama</a></li>
            <li><a href="{{ url_for('main.menu') }}">Meni</a></li>
            <li><a href="{{ url_for('main.services') }}">Ostale usluge</a></li>
            <li><a href="{{ url_for('main.gallery') }}">Galerija</a></li>
            <li><a href="{{ url_for('main.reservation') }}">Rezervacija</a></li>
            <li><a href="{{ url_for('main.reviews') }}">Recenzije</a></li>
        </ul>
    </nav>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
